#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#Nav {
  background-color: lightblue;
}

#Nav ul{
  display:flex;
  margin: 10px 10px;
}

#Nav li {
  margin: 0px 20px;
}

