#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  min-height: 100vh;

  background-image: url("./assets/yellow-floor-tile.jpg");
  background-repeat: repeat;
}
/* .category-container {
  background: white;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
} */

#Nav {
  background-color: lightblue;
  height: 30px;
}

#Nav ul{
  display:flex;
  justify-content: space-around;
  margin: 10px 10px;
}

#Nav li {
  margin: 0px 20px;
}

.meal-grid,
#mealsMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.meal-card {
  border: 1px solid rgb(247, 222, 30);
  padding: 12px;
}

.meal-card img {
  width: 70%;
  border-radius: 10px;
}

.favorite-button {
  margin: 8px 0;
}

.ingredient-preview,
.ingredients-list {
  display: inline-block;
  text-align: left;
}

/* background
.repeating-bg {
  background-image: url("/yellow-tile.png");
  background-repeat: repeat;
  background-size: auto;
} */

@media (max-width: 800px) {
  .meal-grid,
  #mealsMenu,
  #categoryMenu {
    grid-template-columns: 1fr;
  }
}
